body {
    font-family: 'Urbanist', sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1080px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#jen {
    width: 200px;
    height: 200px;
}